Django==4.2.29
djangorestframework==3.16.1
django-autoslug==1.9.9
django-filter==25.1
psycopg2-binary==2.9.11
celery==5.6.2
redis==7.0.1
gunicorn==23.0.0
asgiref==3.11.1
flower
channels==4.0.0
channels-redis==4.2.0
daphne==4.0.0
django-cors-headers==4.3.1
requests
dj-rest-auth[with_social]
djangorestframework-simplejwt
pytest
pytest-django
pytest-asyncio
